#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding-top: rem-calc(60);
	background-color: map_get($foundation-palette, secondary);
	color: $anchor-color;


	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
		text-align: center;

		ul {
			@include menu-base();
			display: inline-block;
		}

		.icons {
			text-align: left;
			margin: 2em auto;
			padding: 1rem 0;
			max-width: rem-calc(800px);
			border: {
				top: 1px solid #565654;
				bottom: 1px solid #565654;
			}

			@include breakpoint(medium up) {
				display: flex;
				justify-content: space-between;
				text-align: center;
			}

			.icon {
				background: no-repeat left center;
				padding: .5rem 0 0 rem-calc(30px);

				@include breakpoint(medium up) {
					padding: 0 0 0 rem-calc(30px);
				}

				$icons: (mail, phone, geo);
				@each $name in $icons {
					&.#{$name} {
						background-image: url('../images/icons/icon_#{$name}.svg');
					}
				}
			}
		}
	}
}
