.logo {
  background-image: url("../images/erstellbar_logo.svg");
  width: (398px /2);
  height: (72px /2);
  background-repeat: no-repeat;
  background-size: contain;
  shape-rendering: auto;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}


a.icon {
  float: left;
  font-size: 2em;
  line-height: 70px;
  margin-right: 1em;
  color: #fff;
}

body.admin-bar {
  nav.top, .bg {
    top: 32px !important;

    @media screen and (max-width: 782px) {
      top: 46px !important;
    }
  }
}

.scrolled nav.top {
  -webkit-transform: translate3d(0, -70px, 0);
  -moz-transform: translate3d(0, -70px, 0);
  -ms-transform: translate3d(0, -70px, 0);
  transform: translate3d(0, -70px, 0);
}

.scrolled nav.top.fixed, nav.top.persistent {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

nav.top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 99;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 420ms cubic-bezier(.165, .84, .44, 1);
  -moz-transition: -moz-transform 420ms cubic-bezier(.165, .84, .44, 1);
  transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
  @include clearfix;

  .logo {
    margin: 16px auto 0 auto;
    @media #{$medium-up} {
      float: left;
    }
  }

  &.fixed {
    transform: translate3d(0, -80px, 0);
  }

  &.fixed, &.persistent {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    ul li:last-child a {
      background-color: $primary-color;
      box-shadow: none;
      color: #fff;
    }

    a.icon {
      color: #000;
    }

    ul li a {
      color: $body-font-color;
    }
  }

  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    float: right;
    line-height: 70px;

    li {
      display: inline-block;

      &:last-child a {
        padding: 10px 14px 12px;
        box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .75);

        &:hover {
          box-shadow: inset 0 0 0 2px rgba($primary-color, .75);
        }
      }

      a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        margin-left: 9px;
        position: relative;
        cursor: pointer;
        line-height: 1em;
        padding: 8px 10px 9px;
        border-radius: 5px;
        opacity: .8;
        transition: color .4s, box-shadow .3s;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

// Content Container
section.container {
  padding-top: 70px;
}