.sidebar {

  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
  }

  article {
    margin-bottom: 1.25rem;

    &.panel h6 {
      border-bottom: 1px solid $light-color;
      padding-bottom: 1em;
      line-height: 1em;
      margin-bottom: 1em;
      text-transform: uppercase;
    }
  }
}
