.wpcf7-form-control-wrap br {
  display: none!important;
  width: 0;
  height: 0;
}

div.wpcf7 .ajax-loader {
  display:  none!important;
}



div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors {
  border: 0;
}

div.wpcf7-response-output {
  margin: 0;
  padding: 0;
  animation-name: fadeInUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  margin-bottom: 1.5em;
}

body.page-template-home div.wpcf7-response-output {
  font-weight: 600;
  text-align: center;

  &.wpcf7-mail-sent-ok {
    font-size: 1.5em;
  }
}

textarea {
  height: 10em!important;
}

input[type="text"].wpcf7-not-valid[aria-invalid="true"],
input[type="email"].wpcf7-not-valid[aria-invalid="true"]  {
  border-color: $alert-color;
  margin-bottom: 0;
  border-radius: $global-radius $global-radius 0 0;
}

.wpcf7-not-valid-tip {
  background-color: $alert-color;
  margin-bottom: 1em;
  padding: .5em;
  border-radius: 0 0 $global-radius $global-radius;
  color: #333 !important;
  font-size: rem-calc(12px) !important;
  font-style: italic;
}

form.sent>.form-fields {
  display: none;
}

span.wpcf7-list-item {
  margin-left: 0;

  input[type=checkbox] {
    margin: 0 .8em -4px 0;
    appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;

    &:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    &:checked {
      background-color: #e9ecee;
      border: 1px solid #adb8c0;
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
      color: #99a1a7;

      &:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
      }

      &:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: darken($primary-color, 10%);
      }
    }
  }
}
