.widget_categories {
  ul {
    list-style: none;
    margin: 0;
    font-size: .8rem;

    li {
      display: inline-block;
      margin-right: .2em;
      margin-bottom: .5em;
      border: 1px solid $dark-color;
      padding: .5em;

      &:hover {
        border-color: scale_color($dark-color, $lightness: -10%);
        background-color: scale_color(#fff, $lightness: -2.5%);
      }

      a {
        text-transform: uppercase;
        letter-spacing: .1em;
        transition: .5s;

        &:hover {
          color: $body-font-color;
        }
      }
    }
  }
}