.bg {
	background-image: url("../images/top.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: $secondary-color;
	width: 100%;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 530px;

	z-index: -1;

	-webkit-transform: translateZ(0);

	pointer-events: none;
}