
$cirle-radius: 240px;

.flip {
//  width: $cirle-radius;
  height: $cirle-radius;

  &.outer {
    background-color: $light-color;
    // border: 20px solid lighten($light-color, 3);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
  }

  ul {
    font-size: 0.8rem;

    >li {
      line-height: 1.5rem;
    }
  }
}

.flipper {
  transition: top .6s;
  position: absolute;
  top: 0;
  width: 100%;

  h3, span.h3 {
    margin-bottom: 1.5em;
    font-size: 1.4em;
    display: block;
  }

  .front {
    padding: 10px 10px 10px 20px;
    height: $cirle-radius;
  }
  .back {
    height: $cirle-radius;
    color: #fff;
    padding: 10px 10px 10px 20px;
    background-color: $primary-color;

    h3 {
      color: #fff;
    }
  }
}
.flipper:hover {
  top: -$cirle-radius;
}