// double column gutter
//@media #{$large-up} {
//  $column-gutter: rem-calc(30) * 2;
//}

//.landscape {
//
//    @media #{$small-only} and (orientation: portrait) {
//      @include grid-column(12);
//    }
//    @media #{$small-only} and (orientation: landscape) {
//      @include grid-column(6);
//    }
//
//    @media #{$medium-up} {
//      @include grid-column(6);
//    }
//
//    @media #{$large-up} and (orientation: landscape) {
//      @include grid-column(3);
//      padding-left: $column-gutter;
//      padding-right: $column-gutter;
//    }
//}

//.fl-col-group {
//  @include grid-row(nest);
//}

.fl-col {
  @each $breakpoint, $gutter in $grid-column-gutter {
    padding: {
      left: ($gutter/2);
      right:($gutter/2);
    }
  }
}