
@font-face {
  font-family: "feather";
  src:url("../fonts/feather-webfont.eot");
  src:url("../fonts/feather-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/feather-webfont.woff") format("woff"),
  url("../fonts/feather-webfont.ttf") format("truetype"),
  url("../fonts/feather-webfont.svg#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}


.header {
  .ghost {
    margin-top: 1.25rem;
  }
}

.item {
  position: relative;
  overflow: hidden;

  @each $breakpoint, $gutter in $grid-column-gutter {
    @include breakpoint($breakpoint) {
    margin: {
        bottom: $gutter;
      }
    }
  }


  > img {
    margin: {
      left: auto;
      right: auto;
    }
    display: block;
  }
}

figure {
  margin: 0;
}

.item figure img {
  position: relative;
  display: block;
  //min-height: 100%;
  max-width: 100%;
  //opacity: 0.8;
}

.item figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.item figure figcaption::before,
.item figure figcaption::after {
  pointer-events: none;
}

.item figure figcaption,
.item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.item figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.item figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.item figure h2 span {
  font-weight: 800;
}

.item figure h2,
.item figure p {
  margin: 0;
}

.item figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figure.effect-zoe figcaption {
  top: 0;
  height: 100%;
  padding: 0;
  //height: 3.75em;
  background: linear-gradient(to bottom, rgba($secondary-color,0.0) 0%, rgba($secondary-color,1) 75%);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);

  .foot {
    position: absolute;
    top: auto;
    bottom: 0;
    background-color: #fff;
    height: 3.75em;
    width: 100%;
    padding: 1em;
  }

}

figure.effect-zoe h2 {
  float: left;
  font-size: 1em;
  margin-top: .3em;
}

figure.effect-zoe p.icon-links {
  display: inline-block;
  float: right;
  @include clearfix();
}

figure.effect-zoe p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em;
  line-height: 1em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a.active,
figure.effect-zoe:hover p.icon-links a:focus {
  color: $primary-color;
}

figure.effect-zoe p.description {
  position: absolute;
  bottom: 75px;
  padding: 20px;
  color: #fff;
  text-transform: none;
  font-size: 0.65em;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
  display: inline-block;
  padding: 8px 10px;
  font-family: 'feather';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
  content: '\e000';
}

.icon-paper-clip::before {
  content: '\e001';
}

.icon-heart::before {
  content: '\e024';
}

figure.effect-zoe h2 {
  display: inline-block;
}

figure.effect-zoe:hover p.description {
  opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
