section.error {
  background-color: $secondary-color;
  background-image: url("../images/error.jpg");
  background-position: center center;
  background-size: cover;
  height: 80vh;

  h1 {
    font-family: Dosis, monospace;
    font-size: 8em;
    margin-bottom: .5em;
  }

  a {
    text-decoration: underline;
  }

  .border {
    border: 1px solid #fff;
    padding: 50px;
    display: block;
    width: 40%;
    margin: 0 auto;
  }
  * {
    color: #fff;
  }
}