// Home Headings
.home {
	h2 {
		margin-bottom: 2em;
		line-height: 1.2em;
	}
}


// Header
.header {
	p {
		font-size: 1.25em;
	}

	.logo {
		position: absolute;
		bottom: 1.8em;
		right: 0;
	}

	&.small {
		.logo {
			bottom: 2.5em;
		}
	}

	.head {
		padding-top: 5em;
		height: 460px;
		position: relative;

		* {
			color: #fff;
		}

		@include breakpoint(medium up) {
			padding-top: (10rem - rem-calc(70px));
		}

		h1  {
			line-height: 1em;

			> span {
			display: block;
			font-weight: 600;
			}
		}
	}
}


// Spacer for Sections
.spaced {
	padding: {
		top: 80px;
		bottom: 80px;
	}
}

// Colored Sections
.color-container {

	a {
		color: $primary-color;

		&:hover {
			color: darken($primary-color, 10%);
		}
	}

	background: $body-background no-repeat center top;
	/*  Light Color Container */
	&.light {
		background-color: lighten($light-color, 10%);
	}

	/* Primary Color Container */
	&.primary {
		background-color: map_get($foundation-palette, secondary);
		color: #fff;

		h1, h2 {
			color: #fff;
		}
	}

	/* About Container */
	&.about {
		img {
			height: 50px;
			margin-bottom: 1em;
		}
	}

	/* Contact Container */
	&.sign-up {

		background-image: url("../images/connect.jpg");
		min-height: 561px;
		background-size: cover;
		padding: 2em 0;

		h2 {
			margin-bottom: 1.4em;
		}

		input[type="text"], input[type="email"], textarea {
			border: none;
			padding-left: 1em;
		}
		input[type="text"], input[type="email"] {
			height: 3em;
		}

		.form {
			display: none;
		}

	}

	&.reference {
		background-image: url("../images/reference.jpg");
		background-color: $secondary-color;
		height: 550px;

		h2 span {
			//background-color: #fff;
			color: #fff;
			display: inline-block;
		}
	}

	/* Quote Container at Bottom above Footer */
	&.quote {

		$image-size: 250px;

		.blockqoute {
			@include breakpoint(large up) {
				background: url("../images/responsive.jpg") no-repeat top 2.5em left map_get($grid-column-gutter, medium);
				background-size: $image-size;
				padding-left: rem-calc($image-size) + rem-calc(map_get($grid-column-gutter, medium)) * 2.5;

				blockquote {
					font-size: rem-calc(18px);

					cite {
						text-transform: uppercase;
					}
				}
			}
			margin-top: 5em;
			padding-bottom: 3.9em;
		}
	}
}

