#page-no-sidebar {
  @include grid-row();
  padding: rem-calc(80px) 0;

  .main-content {
    @include grid-column(12)
  }

  h1 {
    //margin-bottom: 2em;
    font-size: rem-calc(24px);
  }
  h2 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: rem-calc(22);
    text-transform: none;
  }
}
