#references-page {
  @include grid-row();
  padding: rem-calc(80px) 0;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }
  }

  .row {
    @include grid-row-nest();
  }
}

.page-title {
  line-height: 1.2em;
  margin-bottom: 2em;
}