#page {
  @include grid-row();
  margin-top: rem-calc(80px);

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

  .row {
    @include grid-row-nest();
  }

}

