#single-post {
  @include grid-row();
  margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }

    h1.entry-title {
      text-transform: none;
      margin-top: 0;
      line-height: 1.2em;
      font-weight: bold;
      font-size: rem-calc(36px);
    }

    img.attachment-post-thumbnail {
      margin: 1em 0;
    }

    .entry-content {
      margin-top: 2em;

      $article-header-size: (h1: 24, h2: 24, h3: 24);
      @each $header-name, $size in $article-header-size {
        #{$header-name} {
          font-size: rem-calc($size);
          margin-top: 2em;
          margin-bottom: 1em;
        }
      }
    }
  }
}
